@model StoriesOfTheLand.Models.Resource

@{
    ViewData["Title"] = "" + Model.ResourceTitle;
}

<h1>Details</h1>

<div>
    <h4>Resource</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResourceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
